In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
csv_name = '/home/skipper/green_tripdata_2019-01.csv'
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
table_name = 'green_taxi_data'
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

In [ ]:
df.to_sql(name=table_name, con=engine, if_exists='append')

In [ ]:
while True: 
        try:
            df = next(df_iter)
            df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
            df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
            df.to_sql(name=table_name, con=engine, if_exists='append')
            print('inserted another chunk, took second')

        except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

In [ ]:
query = """
SELECT *
FROM green_taxi_data
ORDER BY lpep_pickup_datetime
LIMIT 100
;
"""

pd.read_sql(query, con=engine)

In [ ]:
query = """
SELECT
    lpep_pickup_datetime
FROM 
    green_taxi_data
WHERE 
    lpep_pickup_datetime >= '2019-01-15 00:00:00'
    AND lpep_dropoff_datetime < '2019-01-16 00:00:00'
;
"""

pd.read_sql(query, con=engine)

In [ ]:
query = """
SELECT
    lpep_pickup_datetime, trip_distance
FROM 
    green_taxi_data
ORDER BY 
    2 DESC
LIMIT 1
;
"""

pd.read_sql(query, con=engine)

In [ ]:
query = """
SELECT
    passenger_count, COUNT(*)
FROM 
    green_taxi_data
WHERE
    lpep_pickup_datetime::date = '2019-01-01'
GROUP BY
    1
;
"""

pd.read_sql(query, con=engine)

In [ ]:
query = """
WITH t AS(
SELECT
    tip_amount, t2."Zone" AS pick_up_zone, t3."Zone" AS drop_off_zone
FROM 
    green_taxi_data AS t1
JOIN
    (SELECT "LocationID", "Zone" FROM zones) as t2
ON t1."PULocationID" = t2."LocationID"
JOIN
    (SELECT "LocationID", "Zone" FROM zones) as t3
ON t1."DOLocationID" = t3."LocationID"
ORDER BY
    1 DESC
)
SELECT * FROM t WHERE pick_up_zone = 'Astoria'
;
"""

pd.read_sql(query, con=engine)