In [54]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql import types
from pyspark.sql import functions as F
from datetime import datetime, timedelta

ImportError: cannot import name 'col' from 'pyspark.sql' (/home/skipper/spark-3.3.2-bin-hadoop3/python/lib/pyspark.zip/pyspark/sql/__init__.py)

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [9]:
!wc -l data/fhv/csv/fhvhv_tripdata_2021-06.csv

14961893 data/fhv/csv/fhvhv_tripdata_2021-06.csv

In [10]:
df = spark.read \
    .option("header", "true") \
    .csv('data/fhv/csv/fhvhv_tripdata_2021-06.csv')

In [11]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [10]:
!head -n 1001 fhvhv_tripdata_2021-06.csv > head.csv

In [12]:
df_pandas = pd.read_csv('head.csv')
df_pandas.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [12]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [13]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('data/fhv/csv/fhvhv_tripdata_2021-06.csv')

In [14]:
df = df.repartition(12)

In [17]:
df.write.parquet('data/fhv/pq/', mode='overwrite')

In [18]:
df = spark.read.parquet('data/fhv/pq/')

In [19]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [20]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02617|2021-06-04 16:50:34|2021-06-04 17:01:18|         118|         109|      N|                B02617|
|              B02875|2021-06-02 22:28:45|2021-06-02 22:37:28|         163|          79|      N|                B02875|
|              B02871|2021-06-03 11:47:48|2021-06-03 11:52:23|         231|          13|      N|                B02871|
|              B02888|2021-06-03 08:45:25|2021-06-03 09:00:12|           9|          92|      N|                B02888|
|              B02510|2021-06-05 09:50:43|2021-06-05 10:06:53|          14|         133|      N|                  null|
|              B02764|2021-06-03 22:55:50|2021-06-03 23:21:24|         152|          74|      N|                B02764|
|              B02889|2021-06-02 03:15:48|2021-06-02 03:26:20|         220|         235|      N|                B02889|
|              B02872|2021-06-01 11:50:42|2021-06-01 12:00:36|         162|         161|      N|                B02872|
|              B02510|2021-06-04 06:51:45|2021-06-04 06:56:26|         206|         206|      N|                  null|
|              B02835|2021-06-02 01:21:31|2021-06-02 01:50:23|          49|         182|      N|                B02835|
|              B02510|2021-06-02 17:11:31|2021-06-02 18:18:32|         236|          89|      N|                  null|
|              B02869|2021-06-01 18:48:20|2021-06-01 18:54:59|         151|          43|      N|                B02869|
|              B02510|2021-06-02 16:16:53|2021-06-02 16:39:03|         181|         189|      N|                  null|
|              B02510|2021-06-03 21:23:35|2021-06-03 21:33:33|         181|          89|      N|                  null|
|              B02764|2021-06-01 06:51:24|2021-06-01 06:58:09|          86|          86|      N|                B02764|
|              B02867|2021-06-04 18:26:09|2021-06-04 18:41:43|         162|         263|      N|                B02867|
|              B02510|2021-06-01 10:21:49|2021-06-01 11:08:24|         151|          17|      N|                  null|
|              B02682|2021-06-04 01:45:17|2021-06-04 01:53:16|         125|         164|      N|                B02682|
|              B02875|2021-06-01 14:06:42|2021-06-01 14:33:53|         192|           7|      N|                B02875|
|              B02510|2021-06-03 21:15:15|2021-06-03 21:21:24|         171|          16|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [22]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [24]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [28]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/b3b| 2021-06-02|  2021-06-02|         163|          79|
|  e/b48| 2021-06-03|  2021-06-03|           9|          92|
|  e/acc| 2021-06-03|  2021-06-03|         152|          74|
|  e/b38| 2021-06-01|  2021-06-01|         162|         161|
|  s/b13| 2021-06-02|  2021-06-02|          49|         182|
|  e/b35| 2021-06-01|  2021-06-01|         151|          43|
|  e/9ce| 2021-06-03|  2021-06-03|         181|          89|
|  e/b33| 2021-06-04|  2021-06-04|         162|         263|
|  a/a7a| 2021-06-04|  2021-06-04|         125|         164|
|  e/9ce| 2021-06-03|  2021-06-03|         171|          16|
|  e/a39| 2021-06-04|  2021-06-04|         107|         170|
|  a/a7a| 2021-06-01|  2021-06-01|         238|         113|
|  e/b38| 2021-06-03|  2021-06-03|         218|         122|
|  e/9ce| 2021-06-01|  2021-06-01|           9|         171|
|  e/acc| 2021-06-04|  2021-06-04|          82|         129|
|  e/b38| 2021-06-02|  2021-06-02|         168|         259|
|  a/a7a| 2021-06-03|  2021-06-03|         100|         222|
|  e/b42| 2021-06-05|  2021-06-05|         261|         237|
|  e/b3b| 2021-06-05|  2021-06-05|          37|          61|
|  s/b13| 2021-06-03|  2021-06-03|         100|         186|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [21]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
    .filter(df.Affiliated_base_number == 'B02835') \
    .show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-06-02 01:21:31|2021-06-02 01:50:23|          49|         182|
|2021-06-03 09:39:41|2021-06-03 09:51:25|         100|         186|
|2021-06-01 21:32:54|2021-06-01 21:42:39|         236|          41|
|2021-06-02 09:01:22|2021-06-02 09:09:12|          48|          90|
|2021-06-03 22:51:28|2021-06-03 23:08:37|         158|         230|
|2021-06-02 15:41:38|2021-06-02 16:28:54|         107|          75|
|2021-06-03 14:37:24|2021-06-03 14:45:20|         260|          82|
|2021-06-02 16:03:52|2021-06-02 17:11:54|         161|         123|
|2021-06-04 09:01:49|2021-06-04 09:15:23|          91|          85|
|2021-06-01 08:14:20|2021-06-01 09:04:23|          67|         261|
|2021-06-02 00:02:28|2021-06-02 00:16:45|         161|           7|
|2021-06-04 17:24:08|2021-06-04 18:01:17|         233|         246|
|2021-06-03 04:22:03|2021-06-03 04:34:15|          26|         228|
|2021-06-01 23:36:27|2021-06-01 23:48:27|         249|         265|
|2021-06-03 20:36:38|2021-06-03 20:57:54|         144|         161|
|2021-06-04 10:54:15|2021-06-04 11:04:17|         236|          75|
|2021-06-03 20:13:13|2021-06-03 20:18:21|           4|         232|
|2021-06-04 10:21:59|2021-06-04 10:43:28|         202|         141|
|2021-06-02 22:21:49|2021-06-02 22:45:27|         113|          97|
|2021-06-04 17:23:00|2021-06-04 18:04:15|         228|          65|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [22]:
df.filter(F.to_date(df.pickup_datetime) == '2021-06-15') \
    .count()

452470

In [ ]:
def time_difference(start, finish):
    t1, t2 = datetime.strptime(start, '%Y-%m-%d %H:%M:%S'), datetime.strptime(finish, '%Y-%m-%d %H:%M:%S')
    return (t2 - t1) / 60

In [38]:
df1 = df.withColumn("date_diff_max", (F.col("dropoff_datetime").cast("long") - F.col("pickup_datetime").cast("long"))/3600)
df1.sort(df1.date_diff_max.desc()).show(truncate=False)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|dispatching_base_num|pickup_datetime    |dropoff_datetime   |PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|date_diff_max     |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|B02872              |2021-06-25 13:55:41|2021-06-28 08:48:25|98          |265         |N      |B02872                |66.8788888888889  |
|B02765              |2021-06-22 12:09:45|2021-06-23 13:42:44|188         |198         |N      |B02765                |25.549722222222222|
|B02879              |2021-06-27 10:32:29|2021-06-28 06:31:20|78          |169         |N      |B02879                |19.980833333333333|
|B02800              |2021-06-26 22:37:11|2021-06-27 16:49:01|263         |36          |N      |null                  |18.197222222222223|
|B02682              |2021-06-23 20:40:43|2021-06-24 13:08:44|3           |247         |N      |B02682                |16.466944444444444|
|B02869              |2021-06-23 22:03:31|2021-06-24 12:19:39|186         |216         |N      |B02869                |14.268888888888888|
|B02877              |2021-06-24 23:11:00|2021-06-25 13:05:35|181         |61          |N      |B02877                |13.909722222222221|
|B02765              |2021-06-04 20:56:02|2021-06-05 08:36:14|53          |252         |N      |B02765                |11.67             |
|B02617              |2021-06-27 07:45:19|2021-06-27 19:07:16|187         |245         |N      |B02617                |11.365833333333333|
|B02880              |2021-06-20 17:05:12|2021-06-21 04:04:16|144         |231         |N      |B02880                |10.984444444444444|
|B02866              |2021-06-01 12:25:29|2021-06-01 22:41:32|87          |265         |N      |B02866                |10.2675           |
|B02882              |2021-06-28 13:13:59|2021-06-28 23:11:58|39          |131         |N      |B02882                |9.966388888888888 |
|B02510              |2021-06-01 12:01:46|2021-06-01 21:59:45|17          |37          |N      |null                  |9.966388888888888 |
|B02510              |2021-06-27 03:52:14|2021-06-27 13:30:30|42          |242         |N      |null                  |9.637777777777778 |
|B02510              |2021-06-18 08:50:29|2021-06-18 18:27:57|39          |216         |N      |null                  |9.624444444444444 |
|B02510              |2021-06-08 16:38:14|2021-06-09 02:07:03|106         |102         |N      |null                  |9.480277777777777 |
|B02800              |2021-06-11 23:26:20|2021-06-12 08:54:38|132         |140         |N      |null                  |9.471666666666666 |
|B02510              |2021-06-15 06:47:22|2021-06-15 16:11:30|141         |232         |N      |null                  |9.402222222222223 |
|B02510              |2021-06-25 02:32:24|2021-06-25 11:56:01|87          |145         |N      |null                  |9.393611111111111 |
|B02764              |2021-06-04 17:41:23|2021-06-05 03:04:00|26          |238         |N      |B02764                |9.376944444444444 |
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
only showing top 20 rows

In [39]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [40]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [43]:
df2 = df.join(df_zones,df.PULocationID ==  df_zones.LocationID, "inner")

In [55]:
df2.groupBy("Zone") \
  .count() \
  .sort(F.col('count').desc()) \
  .show()

+--------------------+------+
|                Zone| count|
+--------------------+------+
| Crown Heights North|231279|
|        East Village|221244|
|         JFK Airport|188867|
|      Bushwick South|187929|
|       East New York|186780|
|TriBeCa/Civic Center|164344|
|   LaGuardia Airport|161596|
|            Union Sq|158937|
|        West Village|154698|
|             Astoria|152493|
|     Lower East Side|151020|
|        East Chelsea|147673|
|Central Harlem North|146402|
|Williamsburg (Nor...|143683|
|          Park Slope|143594|
|  Stuyvesant Heights|141427|
|        Clinton East|139611|
|West Chelsea/Huds...|139431|
|             Bedford|138428|
|         Murray Hill|137879|
+--------------------+------+
only showing top 20 rows